h2, #toolbar, #main .static h2
  line-height: lineHeight(3)

h2
  font-size: 30px

.wrap
  width: 90%

img
  max-width: 100%
  display: block

.pullquote
  float: none
  width: inherit
  margin: 0 0 lineHeight(2)

/**
 *
 * Transitions
 *
 */

#main-nav, #main-nav ul, #toc, #map
  transition: none

/**
 *
 * Charts
 *
 */

#levels .table, #ethnicity .table
  width: 100%

.trend
  .chart
    width: 100%

  .bar
    padding: 0 5px

#levels
  h3
    text-align: left

  .chart
    position: static
    margin: 0 auto

#ethnicity
  h3
    width: inherit

  .chart
    float: none
    margin-bottom: lineHeight(2)
    padding-top: lineHeight(2)

  .bar
    width: 20%

#path
  overflow: hidden

  .chart
    width: 113%
    height: lineHeight(16)
    left: -21px
    margin-left: 0

.legend
  position: static
  width: 100%
  padding: 0
  font-size: 14px
  line-height: lineHeight(2)

  .color
    margin-top: $baseline


#header
  padding-top: lineHeight(4)
  margin-bottom: lineHeight(10)

h1, .subhead
  width: 240px
  margin: 0 auto
  line-height: inherit

.subhead
  display: none

#main-nav
  height: lineHeight(11)

  &.open
    height: lineHeight(35)

#map
  height: lineHeight(18)
  top: 156px

  svg
    width: 130%
    height: 100%
    left: -14%
    margin: 0

.chooser
  padding-bottom: lineHeight(1) + 2

#chooser
  display: block
  margin: 0 auto

.pdf
  background-position: -50px -128px

.ebook
  background-position: -63px -128px

#top
  display: none

#logos
  float: none
  text-align: left

#pub-date
  display: block

.spinner
  top: 156px !important

.download-template
  left: 0

/**
 *
 * Static
 *
 */

.target
  height: inherit