$cream = #f8f8f4
$red = #ec6558
$dark-red = #795856
$green = #76ae99
$dark-green = #4a5344
$blue = #00a8cb
$dark-blue = #6e858c
$beige = #c2b59b
$grey = #494342

.red
  background-color: $red

.dark-red
  background-color: $dark-red

.green
  background-color: $green

.dark-green
  background-color: $dark-green

.blue
  background-color: $blue

.dark-blue
  background-color: $dark-blue

.beige
  background-color: $beige
