image(path, w = auto, h = auto)
  background-image: url(path)
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 144dpi)
    ext = extname(path)
    path = pathjoin(dirname(path), basename(path, ext) + '@2x' + ext)
    background-image: url(path)
    background-size: w h
