.trend
  .left
    position: static
    width: inherit
    text-align: left

    p
      margin-bottom: lineHeight(1)
      line-height: lineHeight(2)
      font-size: 14px

  h3
    font-size: lineHeight(2)
    margin-bottom: lineHeight(2)
