<div class="contact_card">
  <div class="contact_card-avatar">
    <img src="{{ @root.rootPath }}img/{{ image }}" alt="{{ name }} avatar">
  </div>

  <h2>{{ name }}</h2>
  <h3>{{ job_title }}</h3>

  <div class="contract_card-contact">
    {{#if email}}
    <a class="contact_card-email" href="mailto:{{ email }}">Email</a>
    {{/if}}

    {{#if phone}}
    <a class="contact_card-phone" href="">Phone</a>
    {{/if}}

    {{#if twitter}}
    <a class="contact_card-twitter" href="https://twitter.com/{{ twitter }}">Twitter</a>
    {{/if}}

    {{#if github}}
    <a class="contact_card-github" href="">GitHub</a>
    {{/if}}
  </div>
</div>
