/* Site */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  line-height: 1.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
  background-color: white;
}

footer {
  padding: 1.25em 0;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  color: #ccc;
}

nav ul {
  margin: auto;
  padding: 1.25em 0 0.5em;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  list-style: none;
  letter-spacing: 1px;
}

@media only screen and (min-width: 35em) {
  footer, nav ul {
    padding: 2.5em 0 1.2em;
  }
}

nav a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 48px;
  color: black;
  font-size: 11px;
  white-space: nowrap;
}

nav a.selected {
  font-weight: 600;
}

.nav-icon {
  position: relative;
  z-index: -1; /* Keep's animations from firing multiple times in Safari  */
  width: 48px;
  height: 32px;
  margin-bottom: 5px;
}

#work-wrench {
  background-position: 0 -32px;
}

#work-pencil {
  position: absolute;
  top: 0;
}

nav a[href*="work"]:hover #work-wrench,
nav a[href*="work"].selected #work-wrench {
  background-position: 0 -96px;
}

nav a[href*="work"]:hover #work-pencil,
nav a[href*="work"].selected #work-pencil {
  background-position: 0 -64px;
}

nav a[href=""]:hover .nav-icon,
nav a[href=""].selected .nav-icon,
nav a[href*="resume"]:hover .nav-icon,
nav a[href*="resume"].selected .nav-icon,
nav a[href*="references"]:hover .nav-icon,
nav a[href*="references"].selected .nav-icon,
nav a[href*="contact"]:hover .nav-icon,
nav a[href*="contact"].selected .nav-icon {
  background-position: 0 -32px;
}

nav a.selected > .nav-icon {
  transform: scale(1.25);
}


/* About, Resume, References, Contact */

.about, .resume, .references, .contact {
  width: 100%;
  margin: 0 auto;
  padding: 2em 1em 4em;
  font-size: 20px;
  /* border-radius: 5px; */
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

@media only screen and (min-width: 35em) {
  .about, .resume, .references, .contact {
    max-width: 600px;
    padding: 2em 2em 4em;
  }
}

.about img {
  display: block;
  margin: auto;
  padding-top: 25px;
}

.about h1 {
  text-align: center;
  font-weight: 400;
}

.about a {
  color: #54C7FC;
  /* background-color: rgba(84, 199, 252, 0.1); */
}


/* Resume */

.work {
  padding-top: 1em;
}

.resume h2,
.work h2,
.contact_card h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
}

.resume h2,
.resume h3,
.resume h4,
.resume h5,
.work h2,
.contact_card h2,
.contact_card h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: normal;
}

.resume h2 {
  text-align: right;
  color: #ccc;
}

.resume h3 {
  margin-top: 3em;
  font-weight: 600;
  margin-bottom: 0;
}

.resume h4,
.resume h5 {
  margin: 0;
}

@media only screen and (min-width: 35em) {
  .resume h4 {
    float: left;
  }

  .resume h5 {
    float: right;
    margin-bottom: 1em;
  }
}

.resume ul {
  clear: both;
  padding-left: 1em;
  /* list-style: none; */
}

@media only screen and (min-width: 35em) {
  .resume ul {
    font-size: 16px;
  }
}

/* .resume li:before { */
/*   font-size: 11px; */
/*   content: "\2605"; */
/* } */

.resume hr {
  border: none;
  height: 1px;
  margin: 5em 0 3em;
  background-color: #eee;
}

.resume a {
  color: #FF9600;
  /* background-color: rgba(255,150,0,0.05); */
}


/* Work */

.work {
  text-align: center;
}

.work h2 {
  margin-bottom: 70px;
  padding-bottom: 70px;
}

/* .gallery:last-child { */
/*   border: none; */
/*   margin-bottom: 0; */
/* } */

.gallery-cell {
  display: flex;
  width: 100%;
  height: 50vh;
  max-height: 600px;
  margin-right: 5px;
}

@media only screen and (min-width: 35em) {
  .gallery-cell {
    height: 600px;
  }
}

.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: auto;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}

/* fade in image when loaded */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}

.flickity-prev-next-button {
  top: calc(50% - 18px); /* magic # 18: ~1/2 height of pager view  */
}

.flickity-page-dots {
  position: static;
  margin-top: 1.3em;
}

.flickity-page-dots .dot {
  background-color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.1;
}

.flickity-page-dots .dot.is-selected,
.flickity-page-dots .dot:hover {
  opacity: 0.25;
}

.flickity-page-dots .dot.is-selected {
  transform: scale(1.3);
}

.flickity-prev-next-button {
  background: transparent;
}

.flickity-prev-next-button .arrow {
    fill: rgba(0,0,0,0.25);
}

.flickity-prev-next-button:focus {
  box-shadow: 0 0 0 5px #fe2851;
}


/* References, Contact  */

.references, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.references, .contact {
  background-color: transparent;
}

.references a {
  color: #FE2851;
  /* background-color: rgba(254, 40, 81, 0.03); */
}

.contact_card {
  background-color: white;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  max-height: 230px;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

.contact_card:last-child {
  margin-bottom: 0;
}

.contact_card-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin: 1em auto;
}

.contact_card-avatar img {
  max-width: 100%;
}

.contact_card h2 {
  margin: 1.5em 0 0 0;
}

.contact_card h3 {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  margin: 0 0 2em;
}

.contact_card a {
  font-size: 16px;
  /* margin: 0 0.25em; */
  padding: 0 0.5em;
  border-right: 1px solid #eee;
}

.contact_card a:last-child {
  border: none;
}

.contract_card-contact {
  display: flex;
  justify-content: center;
}

.contact a {
  color: #3DC555;
  /* background-color: rgba(68, 219, 94, 0.05) */
}
